<h1>Events list</h1>

<ul>
<% @events.each do |e| %>
<li>
    <%= e.name %>

    <%= link_to "show", event_path(e) %>
     <!--  show 是單數-->
    <%= link_to "edit", edit_event_path(e) %>
    
    <%= link_to "Delete", event_path(e), :method => :delete %>
    <!--  超連結http預設是 get ,這裡指定delete   
       也可以寫成這樣   method: "delete" -->

</li>

<% end %>
</ul>

<%= link_to 'New Event', new_event_path %>


<%= paginate @events %>
<!-- kaminari 外掛提供view helper 產生分頁功能-->